<div class="login">
    <h1>Welcome to vtArticleServer home page.</h1>
    <form action="/auth/login" method="POST">
        <label for="userEmail">Email:</label>
        <input name="username" id="userEmail" type = "text" required><br>
        
        <label for="passWord">Password</label>
        <input name="password" id="passWord" type = "password" required><br>
        <INPUT type="submit" value="Log In"> <INPUT type="reset">
    </form>
</div>