<h1> Add new Article here</h1>
<article>
    <div id="inputFieldArea">
        <form action="/article/new" method="POST">
            <label for="title">Title:</label>
            <input name="title" id="title" type = "text" required><br>

            <label for="sub_title">Subtitle:</label>
            <input name="sub_title" id="sub_title" type = "text" required><br>

            <label for="content">Content</label>
            <textarea name="content" id="content" type = "text" rows="4" cols="50"required></textarea><br>
            <br>
            <INPUT type="submit" value="Send"> <INPUT type="reset">
        </form>
    </div>
</article>